@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    font-family: Helvetica, Roboto, Arial, sans-serif;
}

.profile-pic {
    max-width: 200px;
}

$darkerStripe: #242424;
$lighterStripe: #595959;

.nav-bar-texture {
    background-image: linear-gradient(
        45deg,
        $darkerStripe 37.5%,
        $lighterStripe 37.5%,
        $lighterStripe 50%,
        $darkerStripe 50%,
        $darkerStripe 87.5%,
        $lighterStripe 87.5%,
        $lighterStripe 100%
    );
    background-size: 5.66px 5.66px;
}

.experience-company {
    color: #004691 !important;
    text-decoration: none !important;
}

.experience-company:hover {
    color: #00244a !important;
    text-decoration: none !important;
}

.experience-date {
    font-size: 1rem !important;
}

.side-bar-link-hide-text {
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.side-bar-link-hide-text .fa,
.side-bar-link-hide-text .fab {
    font-size: 1.3rem !important;
    line-height: 0.75em;
    vertical-align: -0.0667em;
}
